<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<form action="" method="POST">

            {% csrf_token %}
            {% for key, value in form.errors.items %}
                {{value}}
            {% endfor %}
            <h2 class='form__title'>Sign In</h2>
            <p>
                <label >Username: </label>
                {{form.username}}
            </p>
             <p>
                <label>Password: </label>
                {{form.password}}
            </p>

            <input type="hidden" name="next" value="/">
            <input type="submit"  value="Sign In" >

</form>
</body>
</html>