:root{
  font-size:16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}
body{
  align-items:center;
  background-color:#e9e9e9;
  background:url(https://img.freepik.com/free-photo/english-british-england-language-education-concept_53876-133735.jpg?w=900&t=st=1678609110~exp=1678609710~hmac=cf680f39aac9b6fc9a9dad9da41326b8b49a5f85d3b8c765a668799408645521);
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  display:grid;
  height:100vh;
  place-items:center;
}

.form__title{
  font-weight:600;
  margin:0;
  margin-bottom:1.25rem;
  color: #0136cc;
}

.link{
  color:#333;
  font-size:0.9rem;
  margin:1.5rem 0;
}
.container{
  background-color:#e9e9e9;
  border-radius:0.7rem;
  box-shadow: 0 0.9rem 1.7rem rgba(0,0,0,0.25),
    0 0.7rem 0.7rem rgba(0,0,0,0.22);
  height:420px;
  max-width:758px;
  overflow:hidden;
  position:relative;
  width:100%;
}

.container__form{
  height:100%;
  position:absolute;
  transition:all 0.6s ease-in-out;
}
.container--signin{
  left:0;
  width:50%;
  z-index:2;
}
.container.right-panel-active .container--signin{
  tranform:translateX(100%);
}
.container--signup{
  left:0;
  opacity:0;
  width:50%;
  z-index:1;
}
.container.right-panel-active .container--signup{
  animation:show 0.6s;
  opacity:1;
  transform:translateX(100%);
  z-index:5;
}
.container__overlay{
  height:100%;
  left:50%;
  overflow:hidden;
  position:absolute;
  top:0;
  transition:transform 0.6s ease-in-out;
  width:50%;
  z-index:100;
}
.container.right-panel-active .container__overlay{
  transform:translateX(-100%);
}
.overlay{
  background-color:#008997;
  background:url(https://img.freepik.com/free-photo/english-british-england-language-education-concept_53876-133735.jpg?w=900&t=st=1678609110~exp=1678609710~hmac=cf680f39aac9b6fc9a9dad9da41326b8b49a5f85d3b8c765a668799408645521);
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  left:-100%;
  position:relative;
  transform:translateX(0);
  transition:transform 0.6s ease-in-out;
  width:200%;
}
.container.right-panel-active .overlay{
  transform:translateX(50%);
}
.overlay__panel{
  align-items:center;
  display:flex;
  flex-dirextion:column;
  height:100%;
  justify-content:center;
  position:absolute;
  text-align:center;
  top:0;
  transform:translateX(0);
  transition:transform 0.6s ease-in-out;
  width:50%;
}
.overlay--left{
  transform:translateX(-20%);
}
.container.right-panel-active .overlay--left{
  transform:translateX(0);
}
.overlay--right{
  right:0;
  transform:translateX(0);
}
.container.right-panel-active .overlay--right{
  transform:translateX(20%);
}
.btn{
  background-color:#0136cc;
  background-image:linear-gradient(90deg,#0136cc 0%,#00caba 74%);
  border-radius:20px;
  border:1px solid #635343;
  color:#e9e9e9;
  cursor:pointer;
  font-size:0.8rem;
  font-weight:bold;
  letter-spacing:0.1rem;
  padding:0.9rem 4rem;
  text-transform:uppercase;
  transition:transform 80ms ease-in;
  display: inline-block;
}
.form > .btn{
  margin-top:1.5rem;
}
.btn:active{
  transform:scale(0.95);
}
.btn:focus{
  outline:none;
}
.form{
  background-color:#e9e9e9;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  padding:0 3rem;
  height:100%;
  text-align:center;
}
.input{
  border:none;
  padding:0.9rem 0.9rem;
  margin:0.5rem 0;
  width:100%;
  border-radius: 20px;
  color: #0136cc;
}
@keyframes show{
  0%,49.99%{
    opacity:0;
    z-index:1;
  }
  50%,100%{
    opacity:1;
    z-index:5;
  }
}


.booking{
    display: flex;
    justify-content: center;
    align-items:center;
}